{% extends "admin/new_layout.twig" %}

{% block title 'تفعيل الرقم' %}

{% block body %}
	<div id="top" class="sa-app__body">
		<div class="mx-sm-2 px-2 px-sm-3 px-xxl-4 pb-6">
			<div class="container">
				<div class="py-5">
					<div class="row g-4 align-items-center">
						<div class="col">
							<nav class="mb-2" aria-label="breadcrumb">
								<ol class="breadcrumb breadcrumb-sa-simple">
									<li class="breadcrumb-item">
										<a href="{{ path_for('admin.numbers.index') }}">الرئيسية</a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">الإتصال</li>
								</ol>
							</nav>
							<h1 class="h3 m-0">الإتصال</h1>
						</div>
					</div>
				</div>
				{% include "admin/elements/flash.twig" %}
				<div class="card">
                    <div class="p-4 d-flex text-center justify-content-center">
                        {% if isInit %}
                            <h2>المرجو الإنتظار حتى يتم تهيئة الجهاز</h2>
                        {% elseif not isAuth %}
                            <img style="width: 500px; margin: auto;" src="https://api.ultramsg.com/instance9871/instance/qr?token=bh1p6r44gb0bendu" alt="">
                        {% else %}
                            <div class="row w-100">
                                <div class="col-md-6 mx-auto text-center">
                                    <a href="{{ path_for('admin.instance.logout') }}" class="mx-auto btn btn-primary">تسجيل الخروج</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}


{% block javascripts %}

	{{ parent() }}

	{% if not isAuth %}
	<script>

		const numbers = "{{ path_for('admin.numbers.index') }}"

		const checkForConnection = () => {
			$.ajax({
				url: '/admin/instance/check',
				method: 'POST',
				success: r => {
					r = JSON.parse(r)
					if (r.is_auth) {
						window.location = numbers
					}
				}
			})
		}

		setInterval(checkForConnection, 3000)

	</script>
	{% endif %}

	{% if isInit %}
	<script>

		const checkForConnection = () => {
			$.ajax({
				url: '/admin/instance/check-init',
				method: 'POST',
				success: r => {
					r = JSON.parse(r)
					if (r.is_init) {
						window.location.reload()
					}
				}
			})
		}

		setInterval(checkForConnection, 3000)

	</script>
	{% endif %}

{% endblock %}